{% extends 'base.html' %}
{% block content %}
<div id="stats">
    <H2>{{pokemon.name}}</H2>
    <img src="{{pokemon.sprites.front_default}}" alt="">
    <ul>
        <li>
            ID: {{pokemon.id}}
        </li>
        <li>
            Types:
            <ol>
                {%for p in pokemon.types%}
                <li>
                    {{p.type.name}}
                </li>
                {%endfor%}
            </ol>
        </li>
        <li>
            Height: {{pokemon.height}}
        </li>
        <li>
            Weight: {{pokemon.weight}}
        </li>
        <li>
            <a href="/pokemon/{{pokemon.id}}/abilities">{{pokemon.abilities | length}} Abilities</a>
        </li>
        <li>
            <a href="/pokemon/{{pokemon.id}}/moves">{{pokemon.moves | length}} Moves</a>

        </li>
    </ul>

</div>
{% endblock %}