{% extends 'base.html' %}
{% block content %}
<div id="stats">
    <H2>{{pokemon.name}}</H2>
    <ul>
        <li>
            ID: {{pokemon.id}}
        </li>
        <li>
            Types:
            {%for p in pokemon.types%}
        <li>
            {{p.slot}}: {{p.type.name}}
        </li>
        {%endfor%}
        </li>
        <li>
            Height: {{pokemon.height}}
        </li>
        <li>
            Weight: {{pokemon.weight}}
        </li>
        <li>
            <a href="">{{pokemon.abilities | length}} Abilities</a>
        </li>
        <li>
            <a href="">{{pokemon.moves | length}} Moves</a>

        </li>
    </ul>

</div>
{% endblock %}