{% extends 'base.html' %}

{% block content %}

<div class="mt-5 pt-5">
    <div class="mt-5 pt-5">

        <img src="{{ g.user.image_url }}" onerror="this.onerror=null; this.src='/static/images/trainers.png'"
            alt="{{ g.user.username }}" id="profile-avatar">
        <div class="container">
            <div class="row justify-content-end">
                <div class="ml-auto">
                    {% if g.user.id == user.id %}
                    <h3>{{g.user.username}}</h3>
                    <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
                    <a href="/users/delete" class="btn btn-outline-danger">Delete Profile</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container justify-content-center">
    <div class="row justify-content-center">
        {%for pk in pk_favorites%}
        <div class="text-center col-2 border border-dark rounded-circle m-2 bg-danger bg-opacity-10">
            <div id="{{pk.id}}">
                <div class="mx-auto">
                    <b>{{pk.id}}.</b>
                </div>
                <a href="/pokemon/{{pk.id}}">
                    <img src="{{pk.sprites.front_default}}" class="mx-auto" alt="">
                    <p>
                        {{pk.name}}
                    </p>
                </a>
                <br>
                <a href="/pokemon/list/{{pg}}/{{pk.id}}/like" class="heart btn border-dark rounded-circle bg-light"
                    value="{{pk.id}}">♡</a>
            </div>
            <br>
        </div>
        {%endfor%}
    </div>
</div>

{% endblock %}